<header class="header">
  <div class="logo-button-container">
    <h1>Technico</h1>
    <button class="menu-button" (click)="onMenuClick()">
      <mat-icon *ngIf="isActive" style="color: #264e70">menu</mat-icon>
      <mat-icon *ngIf="!isActive" style="color: #264e70">cancel</mat-icon>
    </button>
  </div>

  <ul [ngClass]="{ 'list-container mobile': !isActive, 'list-container desktop': isActive }">
    <li class="list-item">
      <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a>
    </li>
    <li class="list-item">
      <a *ngIf="isAuthenticated; else login" routerLinkActive="active" (click)="onLogout()">Logout</a>
    </li>
    <ng-template #login>
      <li class="list-item"><a routerLinkActive="active" routerLink="/auth">Login</a></li>
    </ng-template>
    <li class="list-item">
      <a class="wishlist" *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/wishlist"
        >Wish list <span><mat-icon>favorite</mat-icon></span></a
      >
    </li>
  </ul>
</header>
