<div class="wishlist-box">
  <div class="wishlist-image-container">
    <img src="{{ wishlistItem.image }}" />
  </div>
  <div class="wishlist-title">
    <h1>{{ wishlistItem.title }}</h1>
  </div>
  <div class="wishlist-button-container">
    <a href="{{ wishlistItem.url }}" target="_blank" rel="noopener noreferrer">
      <button class="wishlist-button-store btn">Go to store for details</button>
    </a>
    <button class="wishlist-button-remove btn">Remove from wishlist</button>
  </div>
</div>
