<div class="footer-container">
  <img src="../../../../assets/images/logo.png" alt="company logo" />
  <div class="text-container">
    <div class="logo-container">
      <a [href]="githubUrl" target="_blank" rel="noopener noreferrer">
        <img
          src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png"
          alt="github logo"
        />
      </a>

      <a [href]="linkedinUrl" target="_blank" rel="noopener noreferrer">
        <img
          src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png"
          alt="linkedIn logo"
        />
      </a>
    </div>
    <p class="footer-year">Tecnico {{ getFullYear() }} | All rights reserved</p>
  </div>
</div>
