<div class="footer-container">
  <img
    class="footer-image"
    src="../../../../assets/images/logo.png"
    alt="company logo"
  />
  <div class="text-container">
    <div class="logo-container">
      <a [href]="githubUrl" target="_blank" rel="noopener noreferrer">
        <img
          class="logo-image"
          src="../../../../assets/images/github.png"
          alt="github logo"
        />
      </a>

      <a [href]="linkedinUrl" target="_blank" rel="noopener noreferrer">
        <img
          class="logo-image"
          src="../../../../assets/images/linkedin.png"
          alt="linkedIn logo"
        />
      </a>
    </div>
    <p>
      Data provided by:
      <a
        class="bookstore-achor"
        [href]="booksApiUrl"
        target="_blank"
        rel="noopener noreferrer"
      >
        IT Bookstore API</a
      >
    </p>
    <p class="footer-year">Tecnico {{ getFullYear() }} | All rights reserved</p>
  </div>
</div>
