.login-header {
  margin: 1rem;
  font-weight: bold;
}
.login-title {
  color: #264e70;
  margin: 1rem 0;
}
.login-container {
  background: #c7c6c0eb;
  border-radius: 5px;
  margin: 1rem 3rem;
  min-height: 70%;
  text-align: center;
  width: 90%;
}
.btn {
  cursor: pointer;
  height: 3rem;
  border-radius: 5px;
  outline: none;
  border: none;
  color: whitesmoke;
  margin: 1rem 0;
}

.invalid {
  color: rgb(121, 36, 36);
  font-size: 0.7rem;
}

input.ng-invalid.ng-touched {
  border: solid 2px red;
}
.login-form__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cancel-field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.login-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-field__inputname,
.login-field__inputpassword {
  width: 90%;
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-align: center;
  border: 0.5px solid grey;
}
.login-field__button {
  width: 90%;
  background: #264e70;
}
[disabled] {
  background: #797b7e;
}
.cancel-field__button {
  background: #679186;
  width: 82%;
}
.cancel-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup {
  margin: 0.5rem;
  color: #264e70;
}
.background {
  width: 100%;
  height: 90vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/images/login_cover.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.switch-btn {
  color: #679186;
  margin-left: 1rem;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}
.switch-btn:hover {
  color: #39413f;
}
.message {
  text-align: center;
  margin: 0.5rem 1rem;
}
.loader,
.loader:before,
.loader:after {
  background: #264e70;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #264e70;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.error-text {
  color: white;
  text-align: center;
  width: 100vw;
  padding: 0.5rem 0;
  background-color: #264e70a1;
}

@media only screen and (min-width: 767px) {
  .login-container {
    width: 420px;
    min-height: 400px;
  }
  .cancel-field {
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 1rem;
  }
  .cancel-field__button {
    width: 20%;
  }
  .login-field__button {
    width: 90%;
  }
  .login-field__inputname,
  .login-field__inputpassword {
    width: 90%;
  }
  .btn {
    height: 2rem;
  }
}
